@font-face {
    font-family: Knockout;
    src: url('./fuente/Knockout-HTF33-JuniorHeviwt.291432cdf9638ce91c1d.woff2');
}
@font-face {
    font-family: KnockoutBig;
    src: url('./fuente/Knockout-HTF73-FullHeviweight.386a901fd564bd4a47c7.woff2');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Knockout","Helvetica","Arial",sans-serif;
}

body{
    background-color: black;
}

header{
    height: auto;
    padding: 30px 60px;
}

nav{
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    font-family: KnockoutBig;
}

div.brand{
    width: 120px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.logo{
    height: auto;
}
div.brand svg{
    width: 100%;
    fill: white;
    height: 4.5rem;
}
div.brand a{
    height: auto;
}

div.desplegable button{
    background-color: transparent;
    color: white;
    border: none;
    width: 30px;
}

.opc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.opc a:nth-child(2){
    background-color: #ee2737;
}
.btns{
    border: 2px solid white;
}
.opc button{
    z-index: 999;
}


.botons{
    color: white;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0);
    font-family: inherit;
}

.butNormal, .butHover{
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    font-weight: 500;
    transition: all .1s ease;
}

.butHover{
    position: absolute;
    inset: 0;
    transform: translate(0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.opc a:hover .butNormal{
    transform: translate(0%,-200%);
}

.opc a:hover .butHover{
    transform: translate(0%,0%);
}

.opc a:first-child{
    border: solid 2px white;
}
.opc a:first-child:hover .butHover{
    background-color: white;
    color: black;
}
.opc a:nth-child(2):hover .butHover{
    background-color: #FFB600;
    color: black;
}


#desplegable{
    position: absolute;
    top: 0%;
    height: 0;
    width: 100%;
    bottom: 100%;
    transition: height 0.5s cubic-bezier(0.78, 0, .13, 1);
    overflow: hidden;
    z-index: 998;
}

.cerrar{
    width: 9rem;
    height: 27vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}
.cerrar .cross{
    width: 100%;
    height: 50%;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.cerrar .cross span{
    font-size: 5rem;
}

.container{
    display: flex;
}

.colum{
    display: flex;
    flex-flow: column;
    height: 100%;
}

#desplegable .menu{
    display: flex;;
    width: 100%;
    height: 100%;
    flex-flow: column;
    gap: 50px;
}

.opciones{
    height: 70vh;
    display: flex;
    flex-flow: column;
    justify-content: end;
}
.opciones a{
    font-size: 7rem;
    color: white;
    width: 70%;
}

#desplegable .cerrar .vuelta{
    transform: rotate(-90deg);
    padding-right: 150px;
    width: 100%;
}

#desplegable .cerrar a{
    width: 8rem;
    height: auto;
    display: flex;
    justify-content: end;
    fill: white;
}

.extras{
    width: 50rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
}
.extras a{
    font-family: Knockout;
    font-size: 1.8rem;
    width: 300px;
    display: block;
    color: white;
    margin-bottom: 10px;
}

.extras a::after{
    content:"";
    height: 2px;
    width: 0px;
    background-color: white;
    display: block;
    transition: width 300ms;
}
.extras a:hover::after{
    width: 100%;
}

#banner{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
}
#banner span{
    font-size: 140px;
    font-family: KnockoutBig;
    margin: 0%;
    padding: 0%;
}
.contenedor{
    width: 100%;
    height: auto;
    align-items: center;
}
.fila{
    display: flex;
    align-items: center;
    height: 13vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.filas{
    display: flex;
    width: 200%;
    overflow: hidden;
    position: absolute;;
}
.izq{
    display: flex;
}
.der{
    display: flex;
}
.confill{
    color: white;
    -webkit-text-stroke: 2px white;
}
.sinfill{
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 2px white;
}

.fraseder{
    display: flex;
    animation: mover-derecha 30s linear infinite;
}
.fraseiz{
    display: flex;
    animation: mover-izquierda 21s linear infinite;
}


@keyframes mover-derecha {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes mover-izquierda {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.video {
    height: 96vh;
    margin: 0 auto 4vh;
    position: absolute;
    width: 96vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video video{
    max-width: 100%;
    line-height: 1;
}

#slider{
    width: 100%;
    height: 80vh;
    padding: 60px 60px;
    background: url(./img/imagenes/Carrusel_2x1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    border-top: 2px solid white;
    margin: 100px 0 20px 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
#slider .botones{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}
#slider button{
    background-color: transparent;
    border: none;
}
#slider .botones .circulo{
    fill: black;
    stroke: white;
    width: 80px;
    height: 80px;
    margin-left: 20px;
}

#slider .oferta{
    color: white;
    width: 60%;
    display: flex;
    flex-flow: column;
    justify-content: end;
    height: 50vh;
}

.oferta .ofer{
    display: flex;
    flex-flow: column;
    margin: 20px 0;
}

.oferta .ofer span{
    font-size: 5.5rem;
    font-family: KnockoutBig;
}
.flechita{
    width: 13px;
    fill: white;
}
.oferta a{
    color: white;
    font-size: 1.5rem;
    font-family: KnockoutBig;
}

.botonHover {
    position: relative;
    transition: all 0.3s ease;
  }
  
  .botonHover span {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    transition: all 0.3s ease;
    font-family: KnockoutBig;
  }
  
  .botonHover span:first-child {
    z-index: 1;
  }
  
  .botonHover span:last-child {
    z-index: 2;
    color: #fff;
    opacity: 0;
    transform: translateY(100%);
  }
  
  .botonHover:hover {
    color: #fff;
  }
  
  .botonHover:hover span:first-child {
    transform: translateY(-100%);
    opacity: 0;
  }
  
  .botonHover:hover span:last-child {
    transform: translateY(0);
    opacity: 1;
  }

#carta{
    width: 100%;
    height: auto;
}
#carta > div:first-child{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    display: flex;
    padding: 12px 0;
}

#carta > div:nth-child(1) span{
    font-size: 140px;
    font-family: KnockoutBig;
    margin: 0%;
    padding: 0%;
}

#carta .cartaslide{
    display: flex;
    justify-content: space-between;
    margin: 50px 60px;
    width: 270%;;
}
.cartaslide a{
    height: 100%;
    width: 10%;
}
.cartaslide .botonHover{
    margin: 5px 0 3px 0;
}
.cartaslide span{
    font-size: 1.5rem;
    color: white;
    font-family: KnockoutBig;
}
.cartaslide a div img{
    max-width: 100%;
    border-radius: 20px;
    object-fit: fill;
    border: 2px solid white;
    border-radius: 20px;
}

.cartaslide img:hover {
    filter: hue-rotate(1deg) saturate(0.5);
    position: relative;
  }

.cartaslide a>p{
    font-size: 1rem;
    color: #8d8d8d;
    margin-top: 35px;
}

#contador{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contador > div{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#contador > div span{
    color: white;
    font-size: 3rem;
    font-family: KnockoutBig;
}

#contador .nums{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
#contador .nums div:nth-child(2),div:nth-child(3){
    display: flex;
    gap: 20px;
}
#contador .nums img{
    width: 100px;
}

