@font-face {
    font-family: Knockout;
    src: url('./fuente/Knockout-HTF33-JuniorHeviwt.291432cdf9638ce91c1d.woff2');
}
@font-face {
    font-family: KnockoutBig;
    src: url('./fuente/Knockout-HTF73-FullHeviweight.386a901fd564bd4a47c7.woff2');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Knockout","Helvetica","Arial",sans-serif;
}

body{
    background-color: black;
    overflow-x: hidden;
}

header{
    position: fixed;
    height: 15vh;
    width: 100vw;
    padding: 30px 60px;
    z-index: 990;
    transition: all 0.5s;
}

nav{
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span{
    font-family: KnockoutBig;
}
a{
    text-decoration: none;
    font-family: KnockoutBig;
}

div.brand{
    width: 120px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.logo{
    height: auto;
}
div.brand svg{
    width: 100%;
    fill: white;
    height: 4.5rem;
}
div.brand a{
    height: auto;
}

div.desplegable button{
    background-color: transparent;
    color: white;
    border: none;
    width: 30px;
}

.opc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: black;
}
.opc a:nth-child(2){
    background-color: #ee2737;
}
.btns{
    border: 2px solid white;
}
.opc button{
    z-index: 999;
}

.botons{
    color: white;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0);
    font-family: inherit;
}

.butNormal, .butHover{
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    font-weight: 500;
    transition: all .1s ease;
}

.butHover{
    position: absolute;
    inset: 0;
    transform: translate(0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.opc a:hover .butNormal{
    transform: translate(0%,-200%);
}

.opc a:hover .butHover{
    transform: translate(0%,0%);
}

.opc a:first-child{
    border: solid 2px white;
}

.opc a:hover .butHover{
    color: black;
}
.opc a:first-child:hover .butHover{
    background-color: white;
}
.opc a:nth-child(2):hover .butHover{
    background-color: #FFB600;
}


#desplegable{
    position: fixed;
    top: 0%;
    height: 0;
    width: 100%;
    bottom: 100%;
    transition: height 0.5s cubic-bezier(0.78, 0, .13, 1);
    overflow: hidden ;
    z-index: 998;
}

.cerrar{
    width: 9rem;
    height: 27vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}
.cerrar .cross{
    width: 100%;
    height: 50%;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.cerrar .cross span{
    font-size: 5rem;
}

.container{
    display: flex;
}

.colum{
    display: flex;
    flex-flow: column;
    height: 100%;
}

#desplegable .menu{
    display: flex;;
    width: 100%;
    height: 100%;
    flex-flow: column;
    gap: 50px;
}

.opciones{
    height: 70vh;
    display: flex;
    flex-flow: column;
    justify-content: end;
}
.opciones a{
    font-size: 7rem;
    color: white;
    width: 70%;
}

#desplegable .cerrar .vuelta{
    transform: rotate(-90deg);
    padding-right: 150px;
    width: 100%;
}

#desplegable .cerrar a{
    width: 8rem;
    height: auto;
    display: flex;
    justify-content: end;
    fill: white;
}

.extras{
    width: 50rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
}
.extras a{
    font-family: Knockout;
    font-size: 1.8rem;
    width: 300px;
    display: block;
    color: white;
    margin-bottom: 10px;
}

.extras a::after{
    content:"";
    height: 2px;
    width: 0px;
    background-color: white;
    display: block;
    transition: width 300ms;
}
.extras a:hover::after{
    width: 100%;
}
.cont-rueda{
    width: 10%;
    height: 100vh;
    position: relative;
    transform: translateX(-50%);
}
.rueda{
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: black;
}
.letras{
    padding: 1.5rem;
}
.rese{
    width: 100%;
    height: 100%;    
    animation: rotar 5s linear infinite;
}

.flech{
    transform: translateY(-335%);
    scale: 0.3;
    fill: white;
}

.filled{
    fill: white;
}

.stroked{
    stroke-width: .125rem;
    stroke: white;
    fill: none;
}


@keyframes rotar {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rrss{
    display: flex;
    width: 18%;
    justify-content: space-between;
    align-items: center;
}

.rrss a{
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
}

.rrss a svg{
    width: 100%;
    height: 100%;
    padding: 8px;
    fill: #ee2737;
}

#banner{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    opacity: 1;
    /* transform-origin: 0 0; */
    view-timeline-name: --efecto;
    view-timeline-axis: block;
    animation-timeline: --efecto;
    animation-name: animacion;
    animation-range: entry 50% cover 100%;
    animation-fill-mode: both;
}

@keyframes animacion {
    25%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

#banner span{
    font-size: 10rem;
    font-family: KnockoutBig;
    margin: 0%;
    padding: 0%;
}
.contenedor{
    width: 100%;
}
.fila{
    display: flex;
    align-items: center;
    height: 13vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.filas{
    display: flex;
    /* width: 200%; */
    height: 100%;
    align-items: center;
    overflow: hidden;
    position: absolute;
}
.izq{
    display: flex;
}
.der{
    display: flex;
}
.confill{
    color: white;
    -webkit-text-stroke: 2px white;
}
.sinfill{
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 2px white;
}

.fraseder{
    display: flex;
    animation: mover-derecha 30s linear infinite;
    height: auto;
}
.fraseiz{
    display: flex;
    animation: mover-izquierda 21s linear infinite;
    height: auto;
}


@keyframes mover-derecha {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes mover-izquierda {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.video {
    height: 96vh;
    margin: 0 auto 4vh;
    position: absolute;
    width: 96vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    view-timeline-name: --efecto;
    view-timeline-axis: block;
    animation-timeline: --efecto;
    animation-name: paddin;
    animation-range: entry 50% cover 100%;
    animation-fill-mode: both;
}

@keyframes paddin {
    
}
@keyframes paddin {
    25%{
        padding: 20px;
    }
    50%{
        padding: 40px;
    }
}


.video video{
    max-width: 100%;
    line-height: 1;
}

#slider{
    height: auto;
    padding: 60px 60px;
    background: url(./img/imagenes/Carrusel_2x1.jpg);
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid white;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
    transition: all 0.5s;
    opacity: 1;
    transform-origin: 0 0;
    view-timeline-name: --efecto;
    view-timeline-axis: block;
    animation-timeline: --efecto;
    animation-name: animar;
    animation-range: entry 15% cover 50%;
    animation-fill-mode: both;
}

@keyframes animar {
    0%{
        opacity: 0;
        width: 30%;
        /* background-size: 150%; */
    }
    100%{
        opacity: 1;
        width: 100%;
        /* background-size: cover !important; */
    }
}

#slider .botones{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}
#slider button{
    background-color: transparent;
    border: none;
}
#slider .botones .circulo{
    fill: black;
    stroke: white;
    width: 80px;
    height: 80px;
    margin-left: 20px;
}

#slider div{
    opacity: 0;
    transition: opacity 1s;
}

#slider .oferta{
    color: white;
    width: 60%;
    display: flex;
    flex-flow: column;
    justify-content: end;
    height: 50vh;
}

.oferta .ofer{
    display: flex;
    flex-flow: column;
    margin: 20px 0;
}

.oferta .ofer span{
    font-size: 5.5rem;
    font-family: KnockoutBig;
}
.flechita{
    width: 13px;
    fill: white;
}
.oferta a{
    color: white;
    font-size: 1.5rem;
    font-family: KnockoutBig;
}

.botonHover {
    position: relative;
    transition: all 0.3s ease;
  }
  
  .botonHover span {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    transition: all 0.3s ease;
    font-family: KnockoutBig;
  }
  
  .botonHover span:first-child {
    z-index: 1;
  }
  
  .botonHover span:last-child {
    z-index: 2;
    color: #fff;
    opacity: 0;
    transform: translateY(100%);
  }
  
  .botonHover:hover {
    color: #fff;
  }
  
  .botonHover:hover span:first-child {
    transform: translateY(-100%);
    opacity: 0;
  }
  
  .botonHover:hover span:last-child {
    transform: translateY(0);
    opacity: 1;
  }

#carta{
    width: 100%;
    height: auto;
    display: block;
}
#carta > div:first-child{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    display: flex;
    padding: 12px 0;
}

#carta > div:nth-child(1) span{
    font-size: 140px;
    font-family: KnockoutBig;
    margin: 0%;
    padding: 0%;
}

#carta .cartaslide{
    display: flex;
    justify-content: space-between;
    margin: 50px 0px 50px 0px;
    padding: 0px 60px;
    gap: 25px;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.cartaslide .botonHover{
    margin: 5px 0 3px 0;
}
.cartaslide span{
    font-size: 1.5rem;
    color: white;
    font-family: KnockoutBig;
}

.cartaslide img:hover {
    filter: hue-rotate(1deg) saturate(0.5);
  }

.cartaslide a>p{
    font-size: 1rem;
    color: #8d8d8d;
    margin-top: 35px;
}

.cartaslide a > .comun img{
    width: 600px;
    height: 540px;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 20px;
}

#contador{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
#contador > div{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#contador > div span{
    color: white;
    font-size: 3rem;
    font-family: KnockoutBig;
}

#contador .nums{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
#contador .nums div:nth-child(2), .nums div:nth-child(3){
    display: flex;
    gap: 20px;
}
#contador .nums img{
    width: 100px;
}

#coin{
    width: 100%;
    height: 80vh;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(46,13,13,1) 50%, rgba(125,24,32,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 10px;
    padding: 0 50px;
}
#coin > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    padding-bottom: 50px;
}

#coin > div > div:nth-child(2){
    display: flex;
    flex-flow: column;
    gap: 20px;
    width: 40%;
}
#coin p{
    color: white;
}
#coin > div > div:nth-child(2) > span{
    color: white;
    font-size: 4.5rem;
    font-family: KnockoutBig;
}
.opc span{
    font-family: KnockoutBig;
}

#foodtruck{
    width: 100%;
    height: 80vh;
}
#foodtruck > div{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #000;
}

#foodtruck > div video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,0) 44%, rgba(0,0,0,1) 99%);
}
.vid {
    position: relative;
    width: 100%;
    height: 70vh;
    margin: 0 auto 4vh;
  }
  
  .vid::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70vh; /* ajusta el alto del degradado */
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));    
    z-index: 1;
  }
#foodtruck .content{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: end;
    height: 100%;
    padding: 60px;
}

#foodtruck .content a{
    display: block;
    height: 100px;
    width: 100%;
    height: auto;
}
#foodtruck .content > div{
    display: flex;
    z-index: 800;
    flex-flow: column;
    gap: 20px;
}

#foodtruck .content > div > div{
    width: 100%;
    height: 100%;
}

#foodtruck .content div span{
    color: white;
    font-family: KnockoutBig;
}
#foodtruck .content div p{
    color: white;
    font-family: Knockout;
}
#foodtruck .content > div > span{
    font-size: 5rem;
}
#foodtruck .content .botonHover span{
    font-size: 1.5rem;
}

#ingredientes{
    position: relative;
    margin: 100px 0;
    width: 100%;
    height: 100vh;
    padding: 150px 50px;
}
#ingredientes > div{
    color: white;
    width: 33.33%;
    height: 100%;
    display: flex;
    justify-content: space-between; 
    flex-flow: column;
}

#ingredientes > div > div:nth-child(2){
    height: 100%;
    display: flex;
    flex-flow: column;
    gap: 25px;
    justify-content: end;
}
#ingredientes > div > div:nth-child(2)> span{
    font-size: 4.5rem;
    font-family: Knockout;
}

#ingredientes > div > div:nth-child(2)> p{
    width: 30%;
}
#ingredientes > div > div:nth-child(2)> a div span{
    font-family: KnockoutBig;
}

.imagesmove{
    position: absolute;
    width: 100%;
    height: 100%;
}
.salsa{
    width: 10%;
}

.imagesmove img{
    max-width: 100%;
}

.salsa{
    position: absolute;
    aspect-ratio: 10 / 21;
    view-timeline-name: --efecto;
    view-timeline-axis: block;
    animation-timeline: --efecto;
    animation-name: changepossalsa;
    animation-range: entry 0% cover 70%;
    animation-fill-mode: both;
    transition: all 0.5s;
    z-index: 1;
    transform-origin: 0% 100%;
    top: 0%;
}
.salsa img{
    aspect-ratio: 10 / 21;
    view-timeline-name: --efecto;
    view-timeline-axis: block;
    animation-timeline: --efecto;
    animation-name: rotarsalsa;
    animation-range: entry 0% cover 70%;
    animation-fill-mode: both;
    transition: all 1s;
    transform-origin: 0% 100%;
    z-index: 1;
}

@keyframes changepossalsa {
    0%{
        transform: translateX(300px);
    }
    100%{
        transform: translateX(1100px);
    }
}
@keyframes rotarsalsa {
    0%{
        rotate: -10deg;
    }
    100%{
        rotate: -45deg;
    }
}

.burgers{
    position: absolute;
    view-timeline-name: --efecto;
    view-timeline-axis: block;
    animation-timeline: --efecto;
    animation-name: changeposburgers;
    animation-range: entry 0% cover 60%;
    animation-fill-mode: both;
    transition: all 0.5s;
    z-index: 3;
    top: 0%;
}
.burgers img{
    view-timeline-name: --efecto;
    view-timeline-axis: block;
    animation-timeline: --efecto;
    animation-name: rotarsburgers;
    animation-range: entry 0% cover 60%;
    animation-fill-mode: both;
    transition: all 1s;
    transform-origin: 0% 100%;
    z-index: 3;
}

@keyframes changeposburgers {
    0%{
        transform: translateX(300px);
        top: 100px;
    }
    100%{
        transform: translateX(1000px);
        top: 300px;
    }
}
@keyframes rotarsburgers {
    0%{
        rotate: -40deg;
    }
    100%{
        rotate: 15deg;
    }
}

.pan{
    position: absolute;
    view-timeline-name: --efecto;
    view-timeline-axis: block;
    animation-timeline: --efecto;
    animation-name: changepospan;
    animation-range: entry 0% cover 60%;
    animation-fill-mode: both;
    transition: all 0.5s;
    z-index: 2;
    top: -100px;
}
.pan img{
    view-timeline-name: --efecto;
    view-timeline-axis: block;
    animation-timeline: --efecto;
    animation-name: rotarpan;
    animation-range: entry 0% cover 60%;
    animation-fill-mode: both;
    transition: all 1s;
    transform-origin: 0% 100%;
    z-index: 2;
}

@keyframes changepospan {
    0%{
        transform: translateX(300px);
    }
    100%{
        transform: translateX(1400px);
    }
}
@keyframes rotarpan {
    0%{
        rotate: -10deg;
    }
    100%{
        rotate: 45deg;
    }
}

#noticias{
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 180px;
    border-radius: 20px;
}
#noticias > div:nth-child(1){
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    display: flex;
    padding: 12px 0;
}

#noticias > div:nth-child(1) span{
    font-size: 140px;
    font-family: KnockoutBig;
    margin: 0%;
    padding: 0%;
}

#noticias > div:nth-child(2){
    display: flex;
    flex-flow: column;
    align-items: center;
}

.articulos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 60px 50px;
}

.articulos > a{
    width: 35%;
    text-decoration: none;
    color: white;
}
.articulos > a > span{
    font-family: Knockout;
    font-size: 2rem;
}
.articulos > a > p{
    margin: 10px 0;
}
.articulos .comun > img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 20px;
    border: 1px solid white;
}

.articulos a::after{
    content:"";
    height: 2px;
    width: 0px;
    background-color: white;
    display: block;
}
.articulos a:hover::after{
    width: 100%;
}

.btn-23 {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    border: 20px solid white;
}

.btn-23:-moz-focusring {
  outline: auto;
}

.btn-23 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}

.btn-23 span {
  display: grid;
  inset: 0;
  place-items: center;
  position: absolute;
  transition: opacity 0.2s ease;
}

.btn-23 .marquee {
  --spacing: 15em;
  --start: 0em;
  --end: 15em;
  -webkit-animation: marquee 1s linear infinite;
  animation: marquee 1s linear infinite;
  opacity: 0;
  position: relative;
  text-shadow: #fff var(--spacing) 0, #fff calc(var(--spacing) * -1) 0,
    #fff calc(var(--spacing) * -2) 0;
}

.btn-23:hover .marquee {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
}

.btn-23:hover .text {
  opacity: 0;
}

@-webkit-keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }

  to {
    transform: translateX(var(--end));
  }
}

@keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }

  to {
    transform: translateX(var(--end));
  }
}

footer{
    background-color: white;
    height: 108vh;
    padding: 65px 0;
}

#principal{
    height: 70vh;
    display: flex;
    padding: 0 90px;
}
#principal > div:first-child{
    width: 40%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

#principal > div:nth-child(1) > a >svg{
    height: 200px;
}

.opcion{
    width: 30%;
    display: flex;
    flex-flow: column;
}
.opcion a{
    text-decoration: none;
    color: #000;
}
.opcion a span{
    font-size: 3rem;
}

.masopc{
    width: 20%;
    display: flex;
    flex-flow: column;
    gap: 10px;
    padding-left: 100px;
}
.masopc a{
    text-decoration: none;
    color: #000;
    font-family: Knockout;
}

.masopc a::after{
    content:"";
    height: 2px;
    width: 0px;
    background-color: black;
    display: block;
    transition: width 300ms;
}
.masopc a:hover::after{
    width: 200px;
}

.reds{
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
}

.reds a{
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
}

.reds a svg{
    width: 100%;
    height: 100%;
    padding: 8px;
    fill: white;
}

#condiciones{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    gap: 30px;
    margin-top: 30px;
}
#condiciones > div:first-child{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    padding: 12px 0;
    width: 100%;
}

#condiciones > div:nth-child(1) span{
    font-size: 140px;
    font-family: KnockoutBig;
    margin: 0%;
    padding: 0%;
}

.confill2{
    color: black;
}
.sinfill2{
    color: transparent;
    -webkit-text-stroke: 2px black;
}

.terminos{
    display: flex;
    font-size: 14px;
    padding: 0 65px;
    gap: 40px;
}

.terminos a{
    text-decoration: none;
    color: black;
    font-family: Knockout;
}

.terminos div{
    width: 35%;
}

.terminos div:nth-child(1) p > b{
    font-family: KnockoutBig;
}

.terminos div:nth-child(2){
    display: flex;
    gap: 20px;
}

@media (max-width: 1440px) {
    #banner span{
        font-size: 8rem;
    }
    .fila{
        height: 11vh;
    }

    #desplegable .menu{
        height: 95vh;
        justify-content: space-between;
    }
    .opciones{
        height: 49vh;
    }
    .opciones a{
        font-size: 4rem;;
        width: 70%;
    }
    .extras{
        width: 30rem;
        justify-content: space-between;
    }
    .rueda{
        width: 250px;
        height: 250px;
    }
    
    #carta > div:nth-child(1) span {
        font-size: 8rem;
    }

    .cartaslide a > .comun img {
        width: 423px;
        height: 457px;
    }

    .moneda img{
        max-width: 84%;
    }
    
    #coin > div > div:nth-child(2) {
        width: 50%;
    }

    #ingredientes > div > div:nth-child(2)> span {
        font-size: 3.5rem;
    }

    @keyframes changepossalsa {
        0%{
            transform: translateX(200px);
        }
        100%{
            transform: translateX(700px);
        }
    }

    @keyframes changeposburgers {
        0%{
            transform: translateX(200px);
            top: 100px;
        }
        100%{
            transform: translateX(600px);
            top: 300px;
        }
    }

    @keyframes changepospan {
        0%{
            transform: translateX(200px);
        }
        100%{
            transform: translateX(1000px);
        }
    }

    #noticias > div:nth-child(1) span {
        font-size: 6rem;
    }

    .articulos .comun > img {
        height: 350px;
    }

    .articulos > a > span {
        font-size: 1.8rem;
    }

    #principal > div:nth-child(1) > a >svg {
        height: 180px;
    }

    .reds {
        width: 25%;
    }

    #principal {
        height: 60vh;
        display: flex;
        padding: 0px 60px;
    }
    
    #principal > div:first-child {
        width: 40%;
    }
    
    .opcion {
        width: 45%;
    }
    
    .opcion a span {
        font-size: 2.7rem;
    }
    
    .masopc {
        padding-left: 0px;
    }

    #condiciones > div:nth-child(1) span {
        font-size: 6rem;
    }

    .terminos {
        font-size: 11px;
        gap: 90px;
    }

    #ingredientes > div {
        width: 100%;
    }
    
    #ingredientes > div > div:nth-child(2) {
        width: 50%;
    }    
}

@media (max-width: 1250px){
    #ingredientes > div > div:nth-child(2)> span {
        font-size: 3rem;
    } 

    @keyframes changepossalsa {
        0%{
            transform: translateX(200px);
        }
        100%{
            transform: translateX(550px);
        }
    }

    @keyframes changeposburgers {
        0%{
            transform: translateX(200px);
            top: 100px;
        }
        100%{
            transform: translateX(450px);
            top: 200px;
        }
    }

    @keyframes changepospan {
        0%{
            transform: translateX(200px);
        }
        100%{
            transform: translateX(700px);
        }
    }

    .salsa {
        width: 13%;
    }

    .burgers {
        width: 40%;
    }

    .pan{
        width: 40%;
    }
}

@media (max-width: 1024px){
    #banner span{
        font-size: 6rem;
    }
    .fila{
        height: 9vh;
    }

    #slider .oferta{
        width: 100%;
    }

    #carta > div:nth-child(1) span {
        font-size: 6rem;
    }

    #contador > div span {
        font-size: 2rem;
    }
    
    #contador .nums img {
        width: 65px;
    }

    #coin{
        height: 55vh;
    }
    
    #coin > div > div:nth-child(2) > span {
        font-size: 3rem;
    }

    #coin > div > div:nth-child(2) {
        width: 85%;
    }

    #foodtruck .content {
        width: 80%;
    }

    #foodtruck .content > div > span {
        font-size: 3.5rem;
    }

    #noticias > div:nth-child(1) span {
        font-size: 5rem;
    }

    .articulos .comun > img {
        height: 210px;
    }

    .articulos > a > span {
        font-size: 1.5rem;
    }

    #principal > div:nth-child(1) > a >svg {
        height: 145px;
    }

    #principal > div:first-child {
        width: 30%;
    }

    .opcion {
        width: 53%;
    }

    .reds {
        width: 25%;
    }

    #condiciones > div:nth-child(1) span {
        font-size: 5rem;
    }

    .terminos div {
        width: 46%;
    }

    .cerrar {
        width: 6rem;
    }

    .extras a {
        font-size: 1.3rem;
        width: 100%;
    }

    .rrss {
        width: 30%;
    }

    .opciones a {
        width: 100%;
    }
}

@media (max-width: 768px){
    #carta .cartaslide {
        padding: 0px 35px;
    }

    .cartaslide a > .comun img {
        width: 316px;
        height: 316px;
    }
    .cartaslide span {
        font-size: 1.3rem;
    }

    #carta .cartaslide {
        height: 40vh;
    }

    #contador{
        margin-bottom: 0px;
    }
    #contador > div > div:nth-child(1){
        margin: auto;
        width: 60%;
        text-align: center;
    }

    #coin {
        flex-flow: column;
        height: 120vh;
        padding: 0;
    }

    #coin > div {
        flex-flow: column;
        justify-content: center;
    }

    .moneda{
        scale: 65%;
    }
    .moneda img{
        max-width: 100%;
    }

    #foodtruck .content {
        padding: 40px;
    }

    #ingredientes > div > div:nth-child(2)> span {
        font-size: 2.5rem;
    }

    .salsa {
        width: 17.5%;
    }
    .burgers {
        width: 63%;
    }
    .pan {
        width: 63%;
    }

    @keyframes changepossalsa {
        0%{
            transform: translateX(50px);
            top: 0px;
        }
        100%{
            transform: translateX(350px);
            top: 100px;
        }
    }

    @keyframes changeposburgers {
        0%{
            transform: translateX(50px);
            top: 0px;
        }
        100%{
            transform: translateX(250px);
            top: 300px;
        }
    }

    @keyframes changepospan {
        0%{
            transform: translateX(50px);
        }
        100%{
            transform: translateX(300px);
        }
    }

    .reds {
        position: relative;
        bottom: 0;
        width: 30%;
        padding-left: 40px;
    }

    #principal {
        height: auto;
        display: flex;
        padding: 0px 60px;
        flex-wrap: wrap;
    }

    #principal > div:first-child {
        width: 50%;
        height: 45%;
        margin-bottom: 30px;
    }

    .opcion {
        width: 55%;
    }

    .masopc{
        width: 45%;
        padding-left: 33px;	
    }

    .opcion a span {
        font-size: 2rem;
    }
}